[Unit]
Description=carbon.cc weather
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=always
ExecStartPre=-/opt/ccc/bin/ccc-pod -stop -f /opt/ccc/etc/weather/ccc-pod.yaml
ExecStart=/opt/ccc/bin/ccc-pod -start -bliss -f /opt/ccc/etc/weather/ccc-pod.yaml
ExecStop=/opt/ccc/bin/ccc-pod -stop -f /opt/ccc/etc/weather/ccc-pod.yaml

[Install]
WantedBy=multi-user.target
